 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1418px;
}

.u-section-1 .u-text-1 {
  width: 615px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 774px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-1 .u-list-1 {
  margin: 57px 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 362px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 441px 0 0;
  padding: 18px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -64px 0 0 94px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-style: normal;
  margin: 30px 0 0 94px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 441px 0 0;
  padding: 18px;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -64px 0 0 94px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-style: normal;
  margin: 30px 0 0 94px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 441px 0 0;
  padding: 18px;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -64px 0 0 94px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-style: normal;
  margin: 30px 0 0 94px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 18px 30px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 441px 0 0;
  padding: 18px;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -64px 0 0 94px;
}

.u-section-1 .u-text-10 {
  font-style: normal;
  margin: 30px 0 0 94px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-11 {
  width: 774px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 47px auto 0;
}

.u-section-1 .u-list-2 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 362px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 18px 30px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: -64px 0 0 94px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-style: normal;
  margin: 30px 0 0 94px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 18px 30px;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-1 .u-text-14 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -64px 0 0 94px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-style: normal;
  margin: 30px 0 0 94px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 18px 30px;
}

.u-section-1 .u-icon-7 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-1 .u-text-16 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -64px 0 0 94px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-style: normal;
  margin: 30px 0 0 94px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 18px 30px;
}

.u-section-1 .u-icon-8 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-1 .u-text-18 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -64px 0 0 94px;
}

.u-section-1 .u-text-19 {
  font-style: normal;
  margin: 30px 0 0 94px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 774px;
  margin: 0 auto;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-list-3 {
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 176px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 18px 30px;
}

.u-section-1 .u-icon-9 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 1016px 0 0;
  padding: 18px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: -64px 0 0 94px;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-22 {
  font-style: normal;
  margin: 30px 0 0 94px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 300px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 359px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 359px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 359px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 359px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 300px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-9 {
    margin-right: 828px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 18px;
    margin-right: 269px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-bottom: -2px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 18px;
    margin-right: 269px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-bottom: -2px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 18px;
    margin-right: 269px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 13px;
    margin-bottom: -2px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 18px;
    margin-right: 269px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 13px;
    margin-bottom: -2px;
  }

  .u-section-1 .u-text-11 {
    width: 720px;
    margin-top: 336px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -212px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-20 {
    width: 720px;
  }

  .u-section-1 .u-icon-9 {
    margin-right: 621px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 212px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 212px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 212px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 212px;
  }

  .u-section-1 .u-text-11 {
    width: 540px;
    margin-top: 348px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -225px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-20 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-9 {
    margin-right: 489px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 130px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 130px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 130px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 130px;
  }

  .u-section-1 .u-text-11 {
    width: 340px;
    margin-top: 556px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -433px;
  }

  .u-section-1 .u-text-20 {
    width: 340px;
  }

  .u-section-1 .u-icon-9 {
    margin-right: 301px;
  }
}